<h1>Bookmarks</h1>
<%= link_to "New Bookmark", new_bookmark_path, class: 'btn btn-success' %>
<% @bookmarks.each do |bookmark| %>
<div class="media"> 
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to bookmark.title, bookmark %>
    </h4>
    <small>
      submitted <%= time_ago_in_words(bookmark.created_at) %> ago by <%= bookmark.user.name %><br/>
      <%= bookmark.comments.count %> Comments
    </small>
  </div>
</div>
<% end %>

