<h1>Bookmarks Search</h1>
 
<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>
 
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <h3>
        <%= link_to bookmark.title, controller: "bookmarks", action: "show", id: bookmark._id%>
      </h3>
    </li>
  <% end %>
</ul>